main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: row; /* 横向布局 */
    gap: 20px; /* 各列之间的间距 */
    margin: 20px;
}

.row {
    display: flex;
    justify-content: space-between; /* 等距排列 */
    flex: 1 1 100%; /* 让这一行占满整行 */
    gap: 0px;
}
.products-section {
    /*flex: 1 1 33%; !* 使这两个部分等宽，占据等量空间 *!*/
    /*margin-right: 450px;*/
    box-sizing: border-box;
}

.contact-section {
    flex: 1 1 100%; /* 使这两个部分等宽，占据等量空间 */
    box-sizing: border-box;
}

#unique-page h2 {
    color: #333;
    /*border-bottom: 3px solid #E95420;*/
    display: inline-block;
    margin-bottom: 10px;
}

.product ul {
    list-style-type: none;
    padding: 0;
}

.product ul li {
    margin: 0px 0;
}

.product ul li a {
    color: #2D7DFD;
    text-decoration: none;
}




.text-button-container {
    max-width: 50%;
}

.text-button-container h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000000;
}

.text-button-container p {
    font-size: 24px;
    margin-bottom: 20px;
}

.text-button-container .btn {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
}

.text-button-container .btn-primary {
    background-color: #6c757d;
    color: #ffffff;
}

.text-button-container .btn-secondary {
    background-color: #6c757d;
    color: #ffffff;
}

.image-container {
    max-width: 50%;
}

.image-container .responsive-image {
    width: 100%;
    height: auto;
    display: block;
}



body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.swiper-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh; /* Full screen height */
    align-items: center;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    background: #ffffff;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between; /* Space between text and image */
    align-items: center;            /* Center vertically */
    width: 100%;
    margin: auto;
}

.text-button-container {
    flex: 1;
    /*padding: 20px;*/
    text-align: left; /* Center text */
    margin-left: 50px;
    z-index: 20000;
}

.image-container {
    display: flex;
    justify-content: flex-end; /* Align image to the right */
    margin-right: 50px;
}

.responsive-image {
    max-width: 100%; /* Ensure image scales with container width */
    max-height: 100%; /* Ensure image does not exceed container height */
    object-fit: contain; /* Maintain aspect ratio and fit within container */
    transform: scale(1.3); /* 放大 1.5 倍 */
    transform-origin: center; /* 从图像中心放大 */
}


.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 50px;
}

.swiper-button-next, .swiper-button-prev {
    color: #000000;
}
